
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif
}

 main {
  padding-top: 50px;
  width: 450px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
 }

 .compose {
  display: flex;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 75px;
  height: 60px;
  width: 150;
  border: solid 2px black;
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #00a386;
  background-color: white;
  font-size: 24px;
}

.compose:hover {
  color: black;
}

.error {
  color: red;
  font-weight: 700;
}
