main.container section {
 background-color: rgb(238, 238, 238);
 border-style: solid;
 border-width: 5px;
 border-radius: 20px;
 padding: 15px;
 box-shadow: 5px 5px 5px gray;
}

.counter {
 float: right;
 font-style: italic;
}

main.container h2 {
 border-bottom-style: solid;
 border-bottom-color: black;
 border-bottom-width: 5px;
}

main.container textarea {
 width: 100%;
 max-width: 400px;
 padding: 5px;

}