header {
  display: flex;
  justify-content: space-between;
}

main.container  {
 background-color: rgb(238, 238, 238);
 border-style: solid;
 border-color:black;
 border-width: 5px;
 border-radius: 20px;
 padding: 15px;
 box-shadow: 5px 5px 5px gray;
 margin-top: 50px;
}

.counter {
 float: right;
 font-style: italic;
}

main.container h2 {
 border-bottom-style: solid;
 border-bottom-color: black;
 border-bottom-width: 5px;
}

main.container textarea {
 width: 100%;
 max-width: 400px;
 padding: 5px;
 min-width: 100px;
 min-height: 50px;
}

#tweetContainer header{
  background-color: #d2caca;
  height: 80px;
}

#tweetContainer header img {
  width: 80px;
  padding: 10px;
}

#tweetContainer h4 {
  width: 70%;
  margin-top: 0;
  font-size: 30px;
  padding-left: 10px;
}

#tweetContainer h6 {
  font-size: 20px;
  margin-top: 5px;
}

#tweetContainer footer {
  border-top-style: solid;
  border-top-color: #000b;
  display: flex;
  justify-content: space-between;
}
.iconContainer {
  display: flex;
}

.icons {
  display: none;
  height: 20px;
  width: 20px;
}

#tweetContainer article {
  background-color: rgb(238, 238, 238);
  border-style: solid;
  border-color: grey;
  border-width: 5px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 5px 5px 5px gray;
  margin-bottom: 20px;
}

#tweetContainer article:hover .icons {
  display: flex;
}

#tweetContainer article:hover {
  text-shadow: -.25px -.25px 0 black;
  border-color: black;
}






